# Google App Engine generated folder
appengine-generated/
.tags*
tags
dump.rdb
node_modules
*.tmp
.publish
.datastore
.old_datastore
bower_components
dist
build
scripts/playground
**/app.yaml
yarn-error.log
.DS_Store


**/e2e/videos/
**/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
