<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">

<link rel="import" href="iron-autogrow-textarea.html">
<dom-module id="app-textarea">
  <template>
    <style>
      :host {
        display: block;
      }

      :host([hidden]) {
        display: none !important;
      }

      label {
        pointer-events: none;
      }

      iron-input {
        width: 100%;
      }

      iron-autogrow-textarea {
        border: none;
      }

    </style>

    <!-- <paper-input-container no-label-float$="[[noLabelFloat]]"
                           always-float-label="[[_computeAlwaysFloatLabel(alwaysFloatLabel,placeholder)]]"
                           auto-validate$="[[autoValidate]]"
                           disabled$="[[disabled]]"
                           invalid="[[invalid]]"> -->

    <label hidden$="[[!label]]"
           aria-hidden="true"
           for$="[[_inputId]]"
           slot="label">[[label]]</label>
    <br>

    <iron-autogrow-textarea class="paper-input-input"
                            slot="input"
                            id$="[[_inputId]]"
                            aria-labelledby$="[[_ariaLabelledBy]]"
                            aria-describedby$="[[_ariaDescribedBy]]"
                            bind-value="{{value}}"
                            invalid="{{invalid}}"
                            validator$="[[validator]]"
                            disabled$="[[disabled]]"
                            autocomplete$="[[autocomplete]]"
                            autofocus$="[[autofocus]]"
                            inputmode$="[[inputmode]]"
                            name$="[[name]]"
                            placeholder$="[[placeholder]]"
                            readonly$="[[readonly]]"
                            required$="[[required]]"
                            minlength$="[[minlength]]"
                            maxlength$="[[maxlength]]"
                            autocapitalize$="[[autocapitalize]]"
                            rows$="[[rows]]"
                            max-rows$="[[maxRows]]"
                            on-change="_onChange"></iron-autogrow-textarea>

    <template is="dom-if"
              if="[[errorMessage]]">
      <paper-input-error aria-live="assertive"
                         slot="add-on">[[errorMessage]]</paper-input-error>
    </template>

    <template is="dom-if"
              if="[[charCounter]]">
      <paper-input-char-counter slot="add-on"></paper-input-char-counter>
    </template>

    <!-- </paper-input-container> -->
  </template>
</dom-module>

<script>
  Polymer({
    is: 'app-textarea',

    behaviors: [
      Polymer.PaperInputBehavior,
      Polymer.IronFormElementBehavior,
    ],

    properties: {
      _ariaLabelledBy: {
        observer: '_ariaLabelledByChanged',
        type: String,
      },

      _ariaDescribedBy: {
        observer: '_ariaDescribedByChanged',
        type: String,
      },

      /**
       * The initial number of rows.
       *
       * @attribute rows
       * @type number
       * @default 1
       */
      rows: {
        type: Number,
        value: 1,
      },

      /**
       * The maximum number of rows this element can grow to until it
       * scrolls. 0 means no maximum.
       *
       * @attribute maxRows
       * @type number
       * @default 0
       */
      maxRows: {
        type: Number,
        value: 0,
      },
    },

    /**
     * @return {number}
     */
    get selectionStart() {
      return this.$.input.textarea.selectionStart;
    },
    set selectionStart(start) {
      this.$.input.textarea.selectionStart = start;
    },

    /**
     * @return {number}
     */
    get selectionEnd() {
      return this.$.input.textarea.selectionEnd;
    },
    set selectionEnd(end) {
      this.$.input.textarea.selectionEnd = end;
    },

    _ariaLabelledByChanged: function(ariaLabelledBy) {
      this._focusableElement.setAttribute('aria-labelledby', ariaLabelledBy);
    },

    _ariaDescribedByChanged: function(ariaDescribedBy) {
      this._focusableElement.setAttribute('aria-describedby', ariaDescribedBy);
    },

    get _focusableElement() {
      return this.inputElement.textarea;
    },
  });

</script>
