[[define "checkout-thank-you"]]
<!doctype html>
<html lang="en">

<head>
  [[template "head" .]]
</head>

<body>
  [[template "theme" .]]

  <style>
    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }

    .share-links {
      display: flex;
    }

    .share-links a button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      font-size: 16px;
      padding: 12px;
      margin: 12px;
      border-radius: 4px;
      background: #F06522;
      background: linear-gradient(45deg, #FF5722, #FFA311);
      width: 150px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .share-links a:hover {
      text-decoration: none;
    }

    .padding-sides {
      padding: 0 125px;
    }

    h1 {
      font-size: 26px;
    }

    @media (max-width: 800px) {
      h1 {
        font-size: 20px;
      }

      .padding-sides {
        padding: 0 24px;
      }

      .share-links {
        flex-direction: column;
      }

      .share-links a button {
        justify-content: center;
        padding: 6px;
        margin: 6px;
        width: 95%;
      }

      .share-links a button i {
        padding: 0 6px;
      }
    }

  </style>


  <table role="presentation"
         cellspacing="0"
         cellpadding="0"
         border="0"
         align="center"
         width="100%"
         style="max-width: 800px;">

    <!-- Hero Image, Flush : BEGIN -->
    <tr>
      <td bgcolor="#ffffff"
          align="center">
        <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/indian-cook-hand-email.jpg"
             width="600"
             alt="Welcome to Gigamunch"
             border="0"
             align="center"
             style="width: 100%; max-width: 800px; height: auto; background: #dddddd; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48; margin: auto;"
             class="g-img">
      </td>
    </tr>
    <!-- Hero Image, Flush : END -->

    <!-- White Background : BEGIN -->
    <tr align="center">
      <td align="center"
          bgcolor="#ffffff"
          style="padding: 2px; width: 100%; box-shadow: 0px 0px 3px #dadfe1;">
        <table role="presentation"
               cellspacing="0"
               cellpadding="0"
               border="0"
               width="100%"
               align="center"
               class="padding-sides">
          <!-- Intro : BEGIN -->
          <tr>
            <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
          <tr>
            <h1 class="padding-sides"
                    style="margin: 25px 0; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-weight: 500; line-height: 1.75; color: #333e48; text-align: center;">
                    [[ if .FirstDeliveryDate ]]
                        Thank you for subscribing! <br>
                        Your first journey will be delivered  <strong> [[ .FirstDeliveryDate ]]. </strong>
                    [[else]]
                        Thank you for subscribing! <br> Your first journey will begin soon.
                    [[end]]
                </h1>
          </tr>
          <!-- Intro : END -->

          <!-- Gigamunch Journeys : BEGIN -->
          <tr>
            <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
              <hr style="margin: 30px 0; border: 0; border-bottom: 2px solid #dadfe1;">
              <h1 style="display: inline-block; margin: 10px 0 0 0; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif;font-weight: 300; line-height: 1.25; color: #333e48;">
                    A Journey is Better With Friends! 😁
               <hr style="margin: 10px 0 25px 0;  border: 0; border-bottom: 4px solid #ff7043; width: 100%;"/>
             </h1>
              <p style=" margin: 15px 0; ">
                <div class="share-links">
                  <a href="https://www.facebook.com/dialog/share?app_id=522395114612219&display=popup&href=https%3A%2F%2Featgigamunch.com"
                     target="_window">
                    <button class="orange-button">
                                    <i class="fa fa-facebook fa-2x "
                                       aria-hidden="true"></i>
                                    <span>Facebook</span>
                                </button>
                  </a>
                  <br>
                  <a href="https://www.instagram.com/eatgigamunch/"
                     target="_window">
                    <button class="orange-button">
                                    <i class="fa fa-instagram fa-2x "
                                       aria-hidden="true"></i>
                                    <span>Instagram</span>
                                </button>
                  </a>
                  <br>
                  <a href="https://twitter.com/eatgigamunch"
                     target="_window">
                    <button class="orange-button">
                                    <i class="fa fa-twitter fa-2x "
                                       aria-hidden="true"></i>
                                    <span>Twitter</span>
                                </button>
                  </a>
                </div>
              </p>
            </td>
          </tr>

          <!-- Gigamunch Journeys : BEGIN -->
          <tr>
            <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
              <hr style="margin: 30px 0; border: 0; border-bottom: 2px solid #dadfe1;">
              <h1 style="display: inline-block; margin: 10px 0 0 0; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-weight: 300; line-height: 1.25; color: #333e48;">
           Welcome to Gigamunch
           <hr style="margin: 10px 0 25px 0;  border: 0; border-bottom: 4px solid #ff7043; width: 100%;">
         </h1>
              <p style=" margin: 15px 0; ">Now that you are a part of Gigamunch, every [[ if .DayOfWeek ]] [[.DayOfWeek]] [[else]] Monday [[end]] will be an adventure to a new country. </p>
              <p style=" margin: 15px 0; ">We work with local immigrants in Nashville to craft a delicious journey that explores their culture. The curated journey comes with a ready-to-eat dinner, a printed culture guide, and a music playlist so you can fully immerse yourself
                in the culture.</p>

            </td>
          </tr>
          <!-- Gigamunch Journeys : END -->

          <!-- Journey Icons : BEGIN -->
          <tr>
            <td>
              <table style="background: #ffffff;width: 100%;">
                <tbody>
                  <tr>
                    <td style="padding: 10px 0 25px 0;">
                      <table align="center"
                             cellspacing="5"
                             style="width:100%; max-width: 420px;">
                        <tbody>
                          <tr>
                            <td>
                              <table align="center"
                                     cellspacing="5"
                                     style="width:100%; max-width: 420px;">
                                <tbody>
                                  <tr>
                                    <td align="center">
                                      <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/dinner-icon.jpg"
                                           style="width: auto;max-width: 100%;border: 0;max-height: 100px;height: auto;">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
                                      <p style="text-align: center; margin: 5px;min-height:80px ">Ready-to-eat<br>Dinner</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td>
                              <table align="center"
                                     cellspacing="5"
                                     style="width:100%; max-width: 420px;">
                                <tbody>
                                  <tr>
                                    <td align="center">
                                      <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/culture-guide-icon.jpg"
                                           style="width: auto;max-width: 100%;border: 0;max-height: 100px;height: auto;">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
                                      <p style="text-align: center; margin: 5px;min-height:80px ">Culture<br>Guide</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td>
                              <table align="center"
                                     cellspacing="5"
                                     style="width:100%; max-width: 420px;">
                                <tbody>
                                  <tr>
                                    <td align="center">
                                      <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/speaker-icon.jpg"
                                           style="width: auto;max-width: 100%;border: 0;max-height: 100px;height: auto;">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
                                      <p style="text-align: center; margin: 5px;min-height:80px ">Music<br>Playlist</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- Journey Icons : END -->

          <tr>
            <td>
              <hr style="margin: 15px 0; border: 0; border-bottom: 2px solid #dadfe1;">
            </td>
          </tr>

          <!-- How it works : BEGIN -->
          <tr>
            <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
              <h1 style="display: inline-block; margin: 25px 0 0 0; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif;font-weight: 300; line-height: 1.25; color: #333e48;">How it works
             <hr style="margin: 10px 0 25px 0;  border: 0; border-bottom: 4px solid #ff7043; width: 100%;">
             
         </h1>

              <table>
                <tbody>
                  <tr>
                    <td align="center">
                      <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/door-icon.jpg"
                           style="border: 0;max-height: 69px;height: 69px;max-width: 69px;width: 69px;">
                    </td>
                    <td>
                      <p style=" margin: 15px 0 15px 30px; ">Your journey will arrive at your doorstep before 5:00 pm in a cold, insulated bag.</p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/microwave-icon.jpg"
                           style="border: 0;max-height: 69px;height: 69px;max-width: 69px;width: 69px;">
                    </td>
                    <td>
                      <p style=" margin: 15px 0 15px 30px; ">Place bag in fridge when you get home. At dinner time, reheat and enjoy - <strong>no cooking. </strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <img src="https://storage.googleapis.com/gigamunch-omninexus-website/email/Welcome/map-icon.jpg"
                           style="border: 0;max-height: 69px;height: 69px;max-width: 69px;width: 69px;">
                    </td>
                    <td>
                      <p style=" margin: 15px 0 15px 30px; ">Gather around the dinner table, and start your journey to a new country! </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- How it works : END -->

          <tr>
            <td>
              <hr style="margin: 40px 0; border: 0; border-bottom: 2px solid #dadfe1;">
            </td>
          </tr>

          <!-- FAQ : BEGIN -->
          <tr>
            <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
              <h1 style="display: inline-block; margin: 5px 0 0 0; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-weight: 300; line-height: 1.25; color: #333e48;">FAQ
             <hr style="margin: 10px 0 25px 0;  border: 0; border-bottom: 4px solid #ff7043; width: 100%;">
         </h1>



              <p style=" margin: 20px 0; "><strong>Is there a menu, do I choose food? </strong> <br> Nope. We take you on a journey that is a completely curated experience. There’s no complicated menus or ordering hassle so you can effortlessly explore the world from your dinner
                table.
              </p>
              <p style=" margin: 20px 0; "><strong>Out of town? </strong> <br> No worries. Every Tuesday you will receive an email showcasing next [[ if .DayOfWeek ]] [[.DayOfWeek]]'s [[else]] Monday's [[end]] journey. In that email, there is a Pass Button that you can tap to pass that journey with no charge.
              </p>
              <p style=" margin: 20px 0; "><strong>Having guests over? </strong> <br> Send us an email, and we can change your serving size!
              </p>
              <p style=" margin: 20px 0; "><strong>Dietary restrictions? </strong> <br> No worries. Every Tuesday you will receive an email showcasing next [[ if .DayOfWeek ]] [[.DayOfWeek]]'s [[else]] Monday's [[end]] journey. In that email we provide the ingredients of each dish. If there’s any conflict with your diet, hit the
                Pass Button in the email to pass that journey with no charge.</p>
              </p>
            </td>
          </tr>
          <!-- FAQ : END -->

          <tr>
            <td>
              <hr style="margin: 30px 0; border: 0; border-bottom: 2px solid #dadfe1;">
            </td>
          </tr>

          <!-- Signature : BEGIN -->
          <tr>
            <td style="font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #333e48;">
              <p style=" margin: 20px 0 20px 0; ">Let us know if there's anything we can help with - we're here for you!</p>
          <tr>
            <td style="padding: 15px 0 40px 0; font-family: 'Avenir Next', 'Avenir', 'Helvetica', sans-serif; font-size: 16px; line-height: 1.5; color: #9BAFB8;">
              <p style=" margin: 0; ">💛 &nbsp;&nbsp;&nbsp;The Gigamunch Team</p>
            </td>
          </tr>
      </td>
    </tr>
    <!-- Signature : END -->

  </table>
  </td>
  </tr>
  <!-- White Background  : END -->
  </table>
  <!-- Email Body : END -->


  [[template "footer" .]]
  <script>
    if (window.localStorage) {
      window.localStorage.removeItem(APP.CampaignsKey);
      window.localStorage.removeItem(APP.ReferenceEmailKey);
    }

  </script>
</body>

</html>
[[end]]
