[[define "gifted-section"]]
<style>
  .referred {
    min-height: 175px;
    text-align: center;
    background-color: #00796B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .referred-header {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
  }

  .referrer-name {
    font-weight: 700;
    text-decoration: underline;
  }

  @media (max-width: 800px) {
    .referred-br {
      display: none;
    }
  }

</style>
<div class="referred bg-noise">
  <h1 class="referred-header"> 
    [[if .ReferrerName]]Your friend <span class="referrer-name">[[.ReferrerName]]</span> just gifted you [[else]] You were just gifted [[end]] a 
    <span class="logo">Gigamunch</span> dinner. <br class="referred-br"/> Complete checkout to claim your gift of a dinner from a different country.
  </h1>
</div>
[[end]]
