[[define "gift-dialog"]]
<style>
  .dialog .green-button {
    background-color: #296432;
    color: white;
  }

  .dialog .green-button:focus {
    border-color: #296432;
  }

  .dialog .green-button:hover {
    background-color: #2b2b2b;
  }

  .dialog .different-tab-content {
    min-height: 160px;
  }

  .dialog .img-section {
    min-width: 350px;
    min-height: 300px;
    background: url('https://storage.googleapis.com/gigamunch-omninexus-website/gift/gift_box.jpg');
    background-size: cover;
    background-position: center;
  }

  .dialog .share-section {
    min-width: 350px;
    min-height: 360px;
    font-size: 14px;
  }

  .dialog .nav-link {
    background-color: #296432;
    color: white;
    fill: white;
    border-color: white;
    border-top: 0px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    font-size: 25px;
  }

  .dialog .nav-item {
    flex: 1;
  }

  .dialog .nav-tabs .nav-link.active {
    background-color: white;
    color: #296432;
    fill: #296432;
    border-width: 1px 0px;
  }

  .dialog .tab-content {
    padding: 12px;
  }

  .dialog .messenger-section,
  .dialog .facebook-section,
  .dialog .sms-section {
    display: flex;
    flex-direction: column;
  }

  .dialog .messenger-section-text,
  .dialog .facebook-section-text,
  .dialog .sms-section-text {
    font-size: 16px;
    line-height: 20px;
    padding: 32px 0;
  }

  .dialog .email-section {
    display: flex;
    flex-direction: column;
  }

  .dialog .email-section-textarea {
    min-height: 160px;
    background-color: #f7f7f7;
    border: solid #CFD8DC 1px;
    padding: 12px;
    resize: none;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .dialog .email-section-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .dialog .or-divider {
    padding: 12px;
    color: #acacac;
  }

  .dialog .share-copy-section {
    padding: 24px 0;
  }

  .dialog .share-copy-input-group {
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 12px 12px;
  }

  .dialog .share-copy-input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dialog .share-copy-button {
    border: none;
  }

  .dialog .sms-nav-tab-item {
    display: none;
  }

  @media (max-width: 750px) {
    .dialog {
      flex-direction: column;
    }

    .dialog .img-section {
      background: url('https://storage.googleapis.com/gigamunch-omninexus-website/gift/gift_box.jpg');
      background-size: cover;
      background-position: center;
      min-height: 215px;
    }

    .dialog .sms-nav-tab-item {
      display: list-item;
    }

    .dialog .close {
      color: white;
    }
  }

</style>
<div class="hidden">
  <div id="dialog"
       class="dialog">
    <div class="img-section">
    </div>
    <div class="share-section">
      <div class="nav-tabs-container">
        <ul class="nav nav-tabs"
            id="shareTabs"
            role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
               data-id="facebook-tab"
               data-toggle="tab"
               href="#gift"
               role="tab"
               aria-controls="facebook"
               aria-selected="false"
               ga-on="click"
               ga-event-category="gift"
               ga-event-action="gift-tab">
                   <i class="fa fa-gift" aria-hidden="true"></i>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               data-id="messenger-tab"
               data-toggle="tab"
               href="#messenger"
               role="tab"
               aria-controls="messenger"
               aria-selected="true"
               ga-on="click"
               ga-event-category="gift"
               ga-event-action="messenger-tab">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="96 93 322 324"><path d="M257 93c-88.918 0-161 67.157-161 150 0 47.205 23.412 89.311 60 116.807V417l54.819-30.273C225.449 390.801 240.948 393 257 393c88.918 0 161-67.157 161-150S345.918 93 257 93zm16 202l-41-44-80 44 88-94 42 44 79-44-88 94z"/></svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               data-id="email-tab"
               data-toggle="tab"
               href="#email"
               role="tab"
               aria-controls="email"
               aria-selected="true"
               ga-on="click"
               ga-event-category="gift"
               ga-event-action="email-tab">
               <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item sms-nav-tab-item">
            <a class="nav-link"
               data-id="sms-tab"
               data-toggle="tab"
               href="#sms"
               role="tab"
               aria-controls="sms"
               aria-selected="false"
               ga-on="click"
               ga-event-category="gift"
               ga-event-action="sms-tab">
               <i class="fa fa-comments" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content different-tab-content"
           id="shareTabsContent">
        <div class="tab-pane fade show active"
             data-id="gift"
             role="tabpanel"
             aria-labelledby="gift-tab">
          <section class="facebook-section">
            <p class="facebook-section-text">Use your personal link below <br/>to give your friend their gift:</p>
            <div class="input-group share-copy-input-group">
              <input type="text"
                     data-id="shareCopyInput"
                     class="share-copy-input"
                     aria-label="User's share link"
                     aria-describedby="basic-addon2"
                     value="https://eatgigamunch.com/gifted/[[.Email]]"
                     readonly
                     ga-on="click"
                     ga-event-category="gift"
                     ga-event-action="link-action-button">
              <button class="green-button input-group-addon share-copy-button"
                      data-clipboard-target="#shareCopyInput"
                      data-id="copyCustomURLButton"
                      ga-on="click"
                      ga-event-category="gift"
                      ga-event-action="link-action-button"><i class="fa fa-files-o" aria-hidden="true"></i></button>
            </div>
          </section>
        </div>
        <div class="tab-pane fade"
             data-id="messenger"
             role="tabpanel"
             aria-labelledby="messenger-tab">
          <section class="messenger-section">
            <p class="messenger-section-text">Give your gift on Facebook Messenger <br/>by clicking the button below:</p>
            <a target="_blank"
               href="https://www.facebook.com/dialog/send?app_id=522395114612219&display=popup&link=https://eatgigamunch.com/gifted/[[.Email]]&redirect_uri=https://eatgigamunch.com/gift/[[.Email]]"
               class="btn green-button messenger-section-button"
               ga-on="click"
               ga-event-category="gift"
               ga-event-action="messenger-action-button">Open Messenger <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
          </section>
        </div>
        <div class="tab-pane fade show"
             data-id="email"
             role="tabpanel"
             aria-labelledby="email-tab">
          <!-- EMAIL TAB -->
          <section class="email-section">
            <h1 class="dialog-title email-section-title"></h1>
            <textarea class="email-section-textarea"
                      data-id="emailTemplateText"
                      ga-on="click"
                      ga-event-category="gift"
                      ga-event-action="email-action-button">Hey, I just got you a gift you'll love! It's a dinner from another country. I got it from a service called Gigamunch - they deliver international meals form a different country every week. They make it super easy and fun to try foods from all around the world. Here's the link so you can get your gift. Enjoy!

https://eatgigamunch.com/gifted/[[.Email]]
</textarea>
            <button class="green-button email-section-button"
                    data-clipboard-target="#emailTemplateText"
                    data-id="copyEmailButton"
                    ga-on="click"
                    ga-event-category="gift"
                    ga-event-action="email-action-button">Copy Email Template</button>
          </section>
        </div>
        <div class="tab-pane fade"
             data-id="sms"
             role="tabpanel"
             aria-labelledby="sms-tab">
          <section class="sms-section">
            <p class="sms-section-text">Text your friends <br/>by clicking the button below:</p>
            <a target="_blank"
               href="sms:?body=Hey%2C+I+just+got+you+a+gift+you%27ll+love%21+It%27s+a+dinner+from+another+country.+I+got+it+from+a+service+called+Gigamunch+-+they+deliver+international+meals+form+a+different+country+every+week.+They+make+it+super+easy+and+fun+to+try+foods+from+all+around+the+world.+Here%27s+the+link+so+you+can+get+your+gift.+Enjoy%21%0D%0A%0D%0Ahttps://eatgigamunch.com/gifted/[[.Email]]"
          
               class="btn green-button sms-section-button"
               ga-on="click"
               ga-event-category="gift"
               ga-event-action="sms-action-button">Open Messages App <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
          </section>
        </div>
      </div>


    </div>
    <div class="close-button">
      <button type="button"
              class="close"
              data-close="shareDialog"
              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
    </div>
  </div>
</div>
<script async
        src="https://unpkg.com/clipboard@2.0.1/dist/clipboard.min.js"></script>
<script>
  var clips = [];

  function dialogCleanup() {
    clips.forEach(function(c) {
      c.destroy();
    });
    clips = [];
  }

  function dialogClosed() {
    dialogCleanup();
  }

  function closeShareDialog() {
    swal.close();
  }

  function openShareDialog() {
    dialogCleanup();
    var config = {
      html: document.getElementById('dialog').outerHTML,
      showConfirmButton: false,
      padding: 0,
      customClass: 'swal-custom',
      onOpen: function() {
        var dialog = document.querySelector('.swal-custom');
        dialog.querySelectorAll('[data-close=shareDialog]').forEach(function(e) {
          e.addEventListener('click', closeShareDialog);
        });
        dialog.querySelectorAll('[data-id]').forEach(function(e) {
          e.id = e.getAttribute('data-id');
        });
        dialog.querySelectorAll('[data-clipboard-target]').forEach(function(e) {
          var clip = new ClipboardJS('#' + e.getAttribute('data-id'));
          clip.on('success', function() {
            var event = new CustomEvent(
              'toast', {
                detail: {
                  title: 'Text copied',
                  message: '',
                },
                bubbles: true,
                cancelable: true
              });
            document.dispatchEvent(event);
          });
          clips.push(clip);
        });
      },
      onClose: dialogClosed,
    };
    if (window.innerWidth > 700) {
      config.width = 700;
    }
    swal(config).catch(dialogClosed);
  }
  document.getElementById('giveButton').addEventListener('click', openShareDialog);

</script>
[[end]]
