[[define "theme"]]
<style>
  body {
    display: block;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: .5px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: #f1f3f4;
  }

  button,
  .btn {
    border: none;
    outline: none;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    background: linear-gradient(45deg, #FF5722, #FFB300);
    background-color: #FF7043;
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  g {
    fill: currentcolor;
  }

  input,
  select,
  .hosted-field {
    padding: 0 12px;
    border: solid #CFD8DC 1px;
    border-radius: 3px;
    font-size: 14px;
    background-color: #f7f7f7;
    outline: none;
    transition: all .3s ease;
    /* fixes ie bug */
    height: 43px;
  }

  .select-input-group {
    display: flex;
    flex-direction: column;
  }

  .hosted-field iframe {
    min-height: 22px;
  }

  input:focus,
  .braintree-hosted-fields-focused {
    background-color: white;
    opacity: 1;
    border-color: #FF7043;
  }

  .checkbox-group {
    display: flex;
    align-items: center;
  }

  .checkbox-group .checkbox-label {
    margin: 0 5px;
  }

  input[type=checkbox] {
    visibility: hidden;
    width: 20px;
    height: 20px;
  }

  input[type=checkbox]:checked+label:after {
    opacity: 1;
  }

  .checkbox {
    display: inline-block;
    display: inline-flex;
    width: 20px;
    position: relative;
    margin: 4px;
  }

  .checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #f7f7f7;
    border-radius: 4px;
    border: solid #CFD8DC 1px;
    transition: all .3s ease;
  }

  .checkbox label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #FF7043;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }

  .checkbox label:hover::after {
    opacity: 0.3;
  }

  select {
    font-family: 'Roboto';
    letter-spacing: .5px;
    margin: 0;
    outline: none;
  }

  label {
    font-size: 14px;
    margin: 0;
  }

  table {
    border-collapse: initial;
  }

  *,
   ::after,
   ::before {
    box-sizing: initial;
  }

  .hidden {
    display: none;
  }

  .bg-orange-gradient {
    background: linear-gradient(45deg, #FF5722, #FFB300);
  }

  .photo-16-9 {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
    background-color: white;
  }

  .photo-16-9 img {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .logo,
  .logo:hover {
    font-family: 'NexaBold', Roboto, sans-serif;
    text-decoration: none;
    color: white;
  }

  nav {
    max-width: 1000px;
    margin: auto;
  }

  .navbar {
    padding: 16px 32px;
  }

  @font-face {
    font-family: 'NexaBold';
    src: url('https://storage.googleapis.com/gigamunch-omninexus-website/fonts/nexa_bold.otf') format('opentype');
  }

</style>
[[end]]
