$mdc-theme-primary: #212121;
$mdc-theme-secondary: #feeae6;
$mdc-theme-accent: #41b883;
$mdc-theme-background: #fff;
$mdc-theme-on-primary: #442b2d;
$mdc-theme-on-secondary: #442b2d;

@import 'vue-mdc-adapter/dist/styles';
