$mdc-theme-primary: #fafafa;
$mdc-theme-secondary: #ff7043;
$mdc-theme-accent: #ffa270;
$mdc-theme-background: #fff;
$mdc-theme-on-primary: #455a64;
$mdc-theme-on-secondary: #37474f;

@import 'vue-mdc-adapter/dist/styles';
