[[define "social-media-text"]]

********* Texts *********
Delivery Text:
Hey {{name}}, your [[.Culture.Nationality]] dinner from Gigamunch has been delivered safely in a cold, insulated bag. Don't forget the music! Youtube: [[.Content.YoutubeURL]] Spotify: [[.Content.SpotifyURL]] \nFeel free to respond to this message if you have any questions. Enjoy! [[.Culture.FlagEmoji]]

🍖Meat Feedback Text:
We hope you enjoyed your Gigamunch dinner tonight, {{name}}. Please do us a favor and share your private feedback here: [[.Notifications.RatingLinkNonveg]] \nIt will help make Gigamunch better for everyone! 💛

🌱Veg Feedback Text:
We hope you enjoyed your Gigamunch dinner tonight, {{name}}. Please do us a favor and share your private feedback here: [[.Notifications.RatingLinkVeg]] \nIt will help make Gigamunch better for everyone! 💛



********** Social Media **********



********* Tuesday (explanation of biz) *********
1. Next week, get ready to go on a dinner adventure to [[.Culture.Country]]! [[.Culture.FlagEmoji]] You're going to love the menu we have in store for you. As always, it's thoughtfully designed by a local Nashville immigrant from [[.Culture.Country]] who just wants to share their culture with you! 💛 Don't miss this stop on your Gigamuch journey. 📍🗺
2. Join us our next delicious journey to [[.Culture.Country]]! [[.Culture.FlagEmoji]] Every week, Gigamunch lets you explore the world from your seat at the dinner table, while providing authentic exposure to local immigrants and refugees. Don’t miss out on this holistic adventure! 🌍💛
3. Next week, take an enchanting journey to [[.Culture.Country]] from your own home. [[.Culture.FlagEmoji]] We have a delightful menu in store for you, thoughtfully designed from a local Nashville [[.Culture.Nationality]] immigrant. Don’t miss out on diving into diversity! 🌍💛
4. For our next weekly journey, we’re taking you all the way to [[.Culture.Country]]! [[.Culture.FlagEmoji]] We have an incredible dinner journey in store for you, all designed by a local Nashville immigrant from [[.Culture.Country]] who just wants to share their culture with you. 💛
5. Who's ready for our next dinner journey to [[.Culture.Country]]? [[.Culture.FlagEmoji]] [[.Culture.Description]]
6. A new adventure awaits you this week! We are taking you on a delicious journey to [[.Culture.Country]]. [[.Culture.Description]] Are you ready to take a dive into [[.Culture.Nationality]] culture without leaving your home?


********* Saturday (cook story) *********
1. Get ready to transform your dinner table into an adventure to [[.Culture.Country]]! [[.Culture.FlagEmoji]] Our host cook [[.CultureCook.FirstName]] [[.CultureCook.LastName]] has designed a unique meal to make sure your journey is as authentic and delicious as possible. Get to know this week’s host by reading [[.CultureCook.FirstName]]'s story below:
🌍
[[.CultureCook.Story]]

2. Get ready to travel to [[.Culture.Country]] thanks to our talented host, [[.CultureCook.FirstName]] [[.CultureCook.LastName]]! [[.CultureCook.FirstName]] [[.CultureCook.LastName]] has designed an unforgettable meal for you to enjoy. We are excited to take you to dinner and to share [[.CultureCook.FirstName]]'s story with you!
🌍
[[.CultureCook.Story]]

3. Meet [[.CultureCook.FirstName]] [[.CultureCook.LastName]]: the host cook behind this week's journey to [[.Culture.Country]]! We can’t wait for you to enjoy this delightful meal, featuring signature flavors of [[.Culture.Nationality]] cuisine. Read more about [[.CultureCook.FirstName]]'s story below, and get ready to experience an exciting new culture!
🌍
[[.CultureCook.Story]]

4. An exciting adventure awaits you! We’re taking you all the way to [[.Culture.Country]] through the lens of our amazing host, [[.CultureCook.FirstName]] [[.CultureCook.LastName]]. You’ll get to dig into a delicious, fully-prepared dinner that is sure to cure any case of wanderlust. Check out [[.CultureCook.FirstName]]'s story below! 👇
🌍
[[.CultureCook.Story]]


********* Monday (dishes) *********
1. This week’s Gigamunch dinner is packed with the vibrant flavors of [[.Culture.Country]]. Thanks to the help of our host cook [[.CultureCook.FirstName]] [[.CultureCook.LastName]], you’ll be taking an authentic journey into the heart of [[.Culture.Nationality]] culture. Here’s what’s on the menu:
[[ range $dish := .DishesNonVeg]]
🍽[[$dish.Name]] - [[$dish.Description]]
[[end]]

2. Nashville, are you ready to indulge your senses in an authentic [[.Culture.Nationality]] meal? Our host cook, [[.CultureCook.FirstName]] [[.CultureCook.LastName]] has created the perfect menu so that you can explore [[.Culture.Country]] from the comfort of your own home. Take a look at what’s in store for Gigamunch subscribers tonight:
[[ range $dish := .DishesNonVeg]]
🍽[[$dish.Name]] - [[$dish.Description]]
[[end]]

3. Today, we’re exploring the flavors of [[.Culture.Country]] with our immigrant host, [[.CultureCook.FirstName]] [[.CultureCook.LastName]]! Every week, Gigamunch invites you on a new culinary adventure with a delicious, prepared meal delivered right to your doorstep (no cooking!🙌). Take a look at what awaits Gigamunch subscribers tonight: 😋
[[ range $dish := .DishesNonVeg]]
🍽[[$dish.Name]] - [[$dish.Description]]
[[end]]

4. Transform your dinner table with the sights, smells, tastes, and sounds of [[.Culture.Country]]! We’ve worked with [[.CultureCook.FirstName]] [[.CultureCook.LastName]], this week’s immigrant host cook, to create an unforgettable, flavorful experience. Take a peek at the authentic [[.Culture.Nationality]] dishes that await our subscribers tonight:
[[ range $dish := .DishesNonVeg]]
🍽[[$dish.Name]] - [[$dish.Description]]
[[end]]

[[end]]
