application: PROJECT_ID
module: cookapi
version: 1
runtime: go
api_version: go1

handlers:
  - url: /process-order
    script: _go_app
    login: admin

  - url: /.*
    script: _go_app
    secure: always

  - url: /_ah/spi/.*
    script: _go_app
    secure: always

beta_settings:
    cloud_sql_instances: gigasqldb

env_variables:
    MYSQL_CONNECTION: server:gigamunch@cloudsql(PROJECT_ID:us-central1:gigasqldb)/gigamunch?collation=utf8mb4_general_ci
    DOMAIN_URL: https://_DOMAIN_.com/